---
import BaseLayout from "../layouts/BaseLayout.astro";
import ListProduct from "../components/ListProduct.vue";
---

<BaseLayout title="product page">
  <h1 class="text-2xl text-red-600">Product page</h1>
  <p>This is my product page</p>
  <ListProduct />
</BaseLayout>