<div class="py-2 shadow">
  <div class="container mx-auhref flex justify-between">
    <div>
      <a href="#" class="leading-tight font-bold text-green-500 text-2xl"
        >Hari Ecom</a
      >
      <a href="#" class="leading-tight font-bold text-green-500 text-2xl"
        >Order</a
      >
      <a href="#" class="leading-tight font-bold text-green-500 text-2xl"
        >Product</a
      >
    </div>
  </div>
</div>
